// colors

$blue: hsl(227, 92%, 58%);
$gunMetal: hsl(215, 31%, 21%);
$darkElectricBlue: hsl(215, 17%, 45%);
$borders: hsl(200, 24%, 88%);
$pureWhite: hsl(0, 0%, 100%);
$borders: hsl(200, 24%, 88%);

@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: 100 1000;
}